<div>
  <a href="https://access.line.me/dialog/oauth/weblogin?response_type=<%= ENV['response_type'] %>&client_id=<%= ENV['client_id'] %>&redirect_uri=<%= ENV['redirect_uri'] %>&state=<%= ENV['state'] %>">
    LINE Web Login
  </a>
</div>
