<div>
  <div>
    <p>User Id</p>
    <p><%= @userId %></p>
  </div>
  <div>
    <p>Display Name</p>
    <p><%= @display_name %></p>
  </div>
  <div>
    <p>Picture Url</p>
    <div>
      <%= image_tag @picture_url %>
    </div>
  </div>
</div>