<div>
  <div>
    <p>User Id</p>
    <p><%= @userId %></p>
  </div>
  <div>
    <p>Display Name</p>
    <p><%= @display_name %></p>
  </div>
  <div>
    <p>Image</p>
    <p><%= image_tag @picture_url %></p>
  </div>
</div>