<div>
  <div>
    <p>User Id</p>
    <p><%= @userId %></p>
  </div>
  <div>
    <p>Display Name</p>
    <p><%= @display_name %></p>
  </div>
  <div>
    <p>Picture Url</p>
    <p><%= @picture_url %></p>
  </div>
</div>